body {
    font-family: "Ubuntu","Verdana","Times", Georgia, Serif;
    text-align: center;
    padding: 50px;
    line-height: 180%;
}

p {
    padding: 10px;
}

h2 {
    text-align: center;
}

.smallBtn {
    margin: 10px 0 10px 0;
    background-color: #2C3539;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

.smallBtn:hover {
    border: none;
    background:green;
    box-shadow: 0 0 1px #777;
}

.quiz > #main {
/* border:5px solid red; *//* debug*/
    margin: auto;
    width:75%;
    text-align: left;
    padding: 15px;
    background-color: #E5E4E2;
    border-radius:16px;
}

#header {
    padding: 0;
}

#content {
    margin:auto;
    height: 50%;
}

#footer{
    clear:both;
    margin:auto;
    position: fixed;
    left: 42%;
    bottom: -20px;
    height: 75px;
}

#percentage {
    text-align:center;
    font-size:50px;
}

#wrong {
    background-color: red;
    border-radius:10px;
}

#correct {
    background-color: green;
    border-radius:10px;
}

/* Base styles */
.btn {
    font-size: 1.2em;
    color:#333;
    text-shadow:1px 1px #fff;
    text-decoration: none;
    display:inline-block; 
    padding:0.5em 1.75em 0.5em 1em;
    border-radius: 0.25em;
    background: #f8f8f8;
    border:1px solid #ccc;
    border-right:0.25em solid gray; /* stripe */
    position: relative;
    margin:0 0 1px; 
}

.btn:before, .btn:after {
    content:'';
    display:block;
    position: absolute;
}

/* Add Hightlights */
.btn:after {
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.25em;
    padding-left: 0.25em;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), inset -1px -1px 0 rgba(0,0,0,0.1);

background: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.2) 49%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.35)), color-stop(49%,rgba(255,255,255,0.2)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#1a000000',GradientType=0 );

}

/* Animate - Fade */
.btn, .btn:before {
    -webkit-transition-property: background, border;
    -webkit-transition: 0.1s ease-in;
    -moz-transition-property: background, border;
    -moz-transition: 0.1s ease-in;
    -o-transition-property: background, border;
    -o-transition: 0.1s ease-in;
    transition-property: background, border;
    transition: 0.1s ease-in;
}

/* Hover / Focus */
.btn:hover, .btn:focus  {
    background: #fff;
}

.btn:hover {
    border-right:0.25em solid green;
}

.btn:hover:after {
background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.1) 49%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.05) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(49%,rgba(255,255,255,0.1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#0d000000',GradientType=0 );
}

/* Active */
.btn:active {
    margin:1px 0 0; 
}