body {
font-family: "Ubuntu","Verdana","Times", Georgia, Serif;
text-align: center;
padding: 50px;
line-height: 180%;
}

p {
padding: 10px;
}

h2 {
text-align: center;
}

.classButton {
width:20%;
height:20%;
/*display: inline-block;*/
margin: 10px;
background-color: #0000ff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:30px;
color: #fff;
font-size: 20px;
text-decoration: none;
cursor: pointer;
border:none;
}

.classButton:hover {
border: none;
background:red;
box-shadow: 0px 0px 1px #777;
}

.classSmallButton {
margin: 10px 0px 10px 0px;
background-color: #2C3539;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:6px;
color: #fff;
font-size: 15px;
text-decoration: none;
cursor: pointer;
border:none;
}

.classSmallButton:hover {
border: none;
background:red;
box-shadow: 0px 0px 1px #777;
}

#idQuestionsDiv {
/* border:5px solid red; *//* debug*/
margin: auto;
flow: center;
width:75%;
height:100%;
text-align: left;
padding: 5px;
background-color: #E5E4E2;
border-radius:16px;
}

#header_title {
padding: 15px;
}

#content {
margin:auto;
height: 50%;
}

#footer{
clear:both;
margin:auto;
position: fixed;
left: 45%;
bottom: -20px;
height: 75px;
}

#idStatusBar{
}

#idPercentage {
text-align:center;
font-size:50px;
}
